* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Righteous', cursive;
}

.main {
  /* border:2px solid red; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  display: block;
  position: absolute;
  /* border:2px solid blue; */
  text-align: left;
  font-size: 2rem;
  top: 50%;
  padding-left: 20px;
  transform: translateY(-50%);
  color: white;
}

.status {
  display: block;
  position: absolute;
  text-align: right;
  font-size: 2rem;
  top: 50%;
  right: 20px;
  padding-right: 20px;
  transform: translateY(-50%);
  color: black;
}

.con-top {
  /* border:2px solid red; */
  background-color: #c62828;
  height: 10%;
  width: 100%;
  position: relative;
}

.bottom {
  /* border:2px solid blue; */
  background-color: #9e3535;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.right-menu {
  /* border:2px solid blue; */
  background-color: #ffcc80;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.con-board {
  border: 2px solid blue;
  height: 100%;
  width: 70%;
}

.choose {
  display: flex;
  width: 100%;
  height: 100px;
  flex-direction: row;
  justify-content: center;
}

.blackp:active {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  background-color: black;
  border-radius: 50%;
  margin: 10px;
}

.blackp {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  margin: 10px;
}

.whitep:active {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  margin: 10px;
}

.whitep {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
}

.title {
  margin: 20px;
}
.checkwin
{
  width :80%;

   text-align: center;
   border:2px solid #9e3535;
   background-color: #9e3535;
   margin:auto;
   padding: 3px;
   border-radius: 10px;
   color :white;
   cursor: pointer;
}
